*.log
*.pyc
*.sublime-project
*.sublime-workspace
*.DS_Store
*-checkpoint.ipynb
*.model
*.obj
.cache/
build/
**/.downloads/*
**/models/*
**/outputs/psd/*
**/tutorials/*.ascii
**/cudnn*.tgz
**/id_rsa
**/github/token
**/data/input/*
**/data/output/*
**/docker.env
**/mturk.properties
*.hd5
**/imdb/*
**/datazip/*
